
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <!-- top header         -->
    <app-menu></app-menu>
    <!-- top header         -->
        <div class="app-main">
                 <!-- side menu code start         -->
                    <app-sidemenu></app-sidemenu>
                <!-- side menu code end         -->

                <div class="app-main__outer">
                    <div class="app-main__inner">
                        <div class="app-page-title">
                            <div class="page-title-wrapper">
                                <div class="page-title-heading">
                                    <!-- <div class="page-title-icon">
                                        <i class="pe-7s-car icon-gradient bg-mean-fruit">
                                        </i>
                                    </div> -->
                                    <div>Designation List
                                        <!-- <div class="page-title-subheading">This is an example dashboard created using build-in elements and components.
                                        </div> -->
                                    </div>
                                </div>
                                <div class="page-title-actions">
                                        <a  class="btn btn-info btn-lg" routerLink="#">Add Designation</a>
                                </div>
                            </div>
                        </div>            
                      
                        <div class="container">
                            
<!-- <button [style.display]="add_permission?'block':'none'" type="button" class="btn btn-info btn-lg"  (click)="openPopup()">Add</button> -->
<!-- <a  class="btn btn-info btn-lg"  routerLink="/role/add">Add</a> -->
<!-- </div> -->           
<div class="main-card mb-3 card">
        <div class="card-body"><h5 class="card-title">Designation List</h5>
            <table class="mb-0 table">
                <thead>
                <tr>
                    <th>SNO</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                  
                </tbody>
            </table>
        </div>
    </div>
                             
                            </div>
                      </div>
                    
                    
                    <app-footer></app-footer>  

                </div>
                <!-- <script src="http://maps.google.com/maps/api/js?sensor=true"></script> -->
        </div>
    </div>
