
<div class="app-main__inner">
  <div class="app-page-title">
      <div class="page-title-wrapper">
          <div class="page-title-heading">
              <!-- <div class="page-title-icon">
                  <i class="pe-7s-car icon-gradient bg-mean-fruit">
                  </i>
              </div> -->
              <div>Role List
                  <!-- <div class="page-title-subheading">This is an example dashboard created using build-in elements and components.
                  </div> -->
              </div>
          </div>
          <div class="page-title-actions">
                  <a  class="btn btn-info btn-lg"  routerLink="/role">List</a>
          </div>    
      </div>
  </div>            
                            
  <div class="container">
    <div *ngIf="isValidFormSubmitted" class="submitted"> Form submitted successfully. </div>
    <div class="main-card mb-3 card">
        <div class="card-body"><h5 class="card-title">Add Role</h5>
            <div>
                <form class="form-inline">
                    <div class="mb-2 mr-sm-12 mb-sm-0 position-relative form-group">
                      <label for="name" class="mr-sm-2">Role Name</label>
                      <input name="text" id="name" placeholder="Role Name" [(ngModel)]="rolename" type="text" class="form-control">
                    </div>
                    
                </form>
                <div class="divider"></div>
                <div *ngFor="let pr1 of permission; index as k" class="position-relative form-check form-check-inline">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="mobile" placeholder="Enter Your mobile" id="{{pr._id}}" >
                           <label class="custom-control-label" for="{{pr._id}}">{{pr1._id}}</label>
                        </div>
                    </div>
                <div class="card">
                <div *ngFor="let modulename of modules;index as i">
                    <div class="card-body">{{modulename.data[0].name}}</div>
                        
                    <div class="row" *ngFor="let mr of modulename.data;index as j">
                        <div class="col-sm-4">  
                        <div class="custom-control custom-checkbox position-relative form-check form-check-inline">
                            <input type="checkbox" [(ngModel)]="mr.IsSelected" class="custom-control-input" name="mobile" placeholder="Enter Your mobile" id="{{mr.module._id}}" >
                            <label class="custom-control-label" for="{{mr.module._id}}">{{mr.module.name}}</label>
                        </div>
                        </div>
                        <div class="col-sm-8">
                            <div *ngFor="let pr of mr.permission; index as k" class="position-relative form-check form-check-inline">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="mobile" placeholder="Enter Your mobile" id="{{mr.module._id+''+pr._id}}" (click)="setPermissionFn(pr._id,mr.module._id)" >
                                   <label class="custom-control-label" for="{{mr.module._id+''+pr._id}}">{{mr.module._id}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="divider"></div>
                <button class="btn btn-primary" (click)="finalfn()">Submit</button>



                <div class="row">











            </div>
        </div>
    </div>
                    
  </div>
</div>
                        
                       