<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
        <div class="row flex-grow">
          <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <div class="auth-form-transparent text-left p-3">
              <div class="brand-logo text text-center" style="margin-top: 100px;">
                <img src="../../assets/logo.png" alt="logo">
              </div>
              <h4 class="text text-center">Welcome</h4>
              <!-- <h6 class="font-weight-light text text-center">Happy to see you again!</h6> -->
              
              <form class="pt-3" #loginForm = "ngForm" (ngSubmit)="onSubmit()">
                  <!-- {{loginForm.value |json}} -->
                  <!-- <div class="alert alert-danger">Error</div> -->
                <div  *ngIf="loginFlag">
                  <div class="form-group">
                    <label for="exampleInputEmail">Username</label>
                    <div class="input-group">
                      <div class="input-group-prepend bg-transparent">
                        <span class="input-group-text bg-transparent border-right-0">
                          <i class="mdi mdi-account-outline text-primary"></i>
                        </span>
                      </div>
                      <!-- <input type="text" class="form-control form-control-lg border-left-0" id="exampleInputEmail" placeholder="Username"> -->
                      <input type="text" placeholder="User Id or Email" class="form-control form-control-lg border-left-0" name="email" required="" [(ngModel)]="userModel.email" #email="ngModel" autocomplete="off" placeholder="User Id">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword">Password</label>
                    <div class="input-group">
                      <div class="input-group-prepend bg-transparent">
                        <span class="input-group-text bg-transparent border-right-0">
                          <i class="mdi mdi-lock-outline text-primary"></i>
                        </span>
                      </div>
                      <input type="password" placeholder="Password" class="form-control form-control-lg border-left-0" name="password" required="" [(ngModel)]="userModel.password" #password="ngModel">
                      <!-- <input type="password" class="form-control form-control-lg border-left-0" id="exampleInputPassword" placeholder="Password">                         -->
                    </div>
                  </div>

                

                  <div class="my-2 d-flex justify-content-between align-items-center">
                    <div class="form-check">
                      <label class="form-check-label text-muted">
                        <input type="checkbox" class="form-check-input">
                        Keep me signed in
                      <i class="input-helper"></i></label>
                    </div>
                    <a href="file:///C:/Users/Administrator/Desktop/template/pages/samples/login-2.html#" class="auth-link text-black">Forgot password?</a>
                  </div>

              
                  <div class="my-3">
                    <!-- <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" href="file:///C:/Users/Administrator/Desktop/template/index.html">LOGIN</a> -->
                    <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Login</button>
                  </div>
                </div>
                

                
               
                <!-- <div class="text-center mt-4 font-weight-light">
                  Don't have an account? <a href="file:///C:/Users/Administrator/Desktop/template/pages/samples/register-2.html" class="text-primary">Create</a>
                </div> -->
              </form>

              <div class="form-group"  *ngIf="emailFlag">
                  <label for="exampleInputPassword">{{OTPLabel}}</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-lock-outline text-primary"></i>
                      </span>
                    </div>
                    <input type="text" placeholder="Password" class="form-control form-control-lg border-left-0" name="password" required="" [(ngModel)]="otp" >
                  </div>
                  <div class="my-3">
                      <!-- <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" href="file:///C:/Users/Administrator/Desktop/template/index.html">LOGIN</a> -->
                      <button class=" btn-primary btn-sm font-weight-medium auth-form-btn m-2" (click)="otpVerify()">Verify</button>
                      <button class=" btn-danger btn-sm font-weight-medium auth-form-btn m-2">Resend</button>
                      
                    </div>
                </div>

             
            </div>
          </div>
          <div class="col-lg-6 login-half-bg d-flex flex-row">
            <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright © 2019.</p>
          </div>
        </div>
      </div>
    
    </div>
    
  </div>

<!-- 
<div style=" background-image: url('../../assets/bg.png');">
<section style="height: 700px;" >
       
    <div class="row pt-5 mb-5"  >
        <div class="col-sm-4"></div>
        <div class="col-sm-4 login_section">
            <form #loginForm = "ngForm" (ngSubmit)="onSubmit()">
                {{loginForm.value |json}}
                <div class="colsm-12 form-group">
                    <label for="">User Id</label>
                    <input type="text" placeholder="User Id or Email" class="form-control" name="email" required="" [(ngModel)]="userModel.email" #email="ngModel">
                </div>
                <div class="colsm-12 form-group">
                    
                        <label for="">Password</label>
                        <input type="text" placeholder="Password" class="form-control" name="password" required="" [(ngModel)]="userModel.password" #password="ngModel">
                </div>
                <div class="colsm-12 form-group">
                        <button class="btn btn-info">Login</button>
                </div>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</section>
</div> -->