
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
<div class="app-main">
<div class="container">
<div class="row">
<!-- <div class="col-md-2">

</div> -->
<div class="col-md-12">
<form method="post" novalidate>
<div id="msform">
<!-- progressbar -->
<ul id="progressbar">
<li class="active">OTP</li>
<li>Create Your Password</li>
<li>Complete Profile</li>
<li>Setting</li>

</ul>
<!-- fieldsets -->
<fieldset>
<h2 class="fs-title">OTP</h2>
<h3 class="fs-subtitle">This is step 1</h3>
<input type="text" name="email" placeholder="Enter Your OTP" />
<input type="button" name="next" class="next action-button" value="Next" />
</fieldset>
<fieldset>
<h2 class="fs-title">Create Your Password</h2>
<h3 class="fs-subtitle">This is step 2</h3>

<input type="password" name="pass" placeholder="Create Password" />
<input type="password" name="cpass" placeholder="Confirm Password" />
<input type="button" name="previous" class="previous action-button" value="Previous" />
<input type="button" name="next" class="next action-button" value="Next" />
</fieldset>
<fieldset>
<h2 class="fs-title">Complete Your Profile</h2>
<h3 class="fs-subtitle">This is step 3</h3>
<input type="text" name="fname" placeholder="Enter Your Name" />
<input type="file" name=""/>
<input type="button" name="previous" class="previous action-button" value="Previous" />
<input type="submit" name="submit" class="submit action-button" value="Submit" />
<input type="button" name="next" class="next action-button" value="Next" />
</fieldset>
<fieldset>
<h2 class="fs-title">Setting</h2>
<h3 class="fs-subtitle">Two Factor Authentication</h3>
<label for="">Do you want to active Two Factor Authentication</label>
<div class="col-sm-12">
<input type="radio" name="auth" placeholder="" class="auth-check" />
<label for="">Yes</label>
<input type="radio" name="auth" placeholder="" class="auth-check" />
<label for="">No</label>
</div>
<hr/>
<div class="col-sm-12">
<input type="radio" name="auth" placeholder="" class="auth-check" />
<label for="">Email</label>
<input type="radio" name="auth" placeholder="" class="auth-check" />
<label for="">Mobile</label>
<input type="radio" name="auth" placeholder="" class="auth-check" />
<label for="">Both</label>
</div>

<input type="button" name="previous" class="previous action-button" value="Previous" />
<input type="submit" name="submit" class="submit action-button" value="Submit" />
</fieldset>
</div>
</form>
</div>
<!-- <div class="col-md-2">

</div> -->
</div>
</div>
</div>
</div>

