<!-- <button class="btn btn-primary" (click)="showStandard()" ngbTooltip="Will disappear in 5s">Standard toast</button>&nbsp;
<button class="btn btn-success" (click)="showSuccess()" ngbTooltip="Will disappear in 10s">Success toast</button>&nbsp;
<button class="btn btn-danger" (click)="showError()" ngbTooltip="Will disappear in 10s">Error toast</button>&nbsp;
 
<ng-template #customTpl>
  <i>This is</i> a <u>custome</u> template <b>toast message</b>
</ng-template>
 
<button class="btn btn-info" (click)="showCustomToast(customTpl)" ngbTooltip="Will disappear in 15s">Custom toast</button>&nbsp; -->
<button (click)="openConfirmationDialog()" type="button" class="btn btn-primary">Open dialog</button>

<p>Open the console to see log statements.</p>
<app-toasts></app-toasts> 


<div class="lessons-list" *ngIf="_authService.loggedIn() else loading">
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <!-- top header         -->
        <app-menu></app-menu>
        <!-- top header         -->
            <div class="app-main">
                     <!-- side menu code start         -->
                      <app-sidemenu></app-sidemenu>
                    <!-- side menu code end         -->
                    <div class="app-main__outer">
                      <router-outlet></router-outlet>
                      <app-footer></app-footer>  
                    </div>
                    
            </div>
        </div>
  </div>
  
  <ng-template #loading>
    <router-outlet></router-outlet>
  </ng-template>
  
