demo

<div>demo</div>




<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <div class="app-main">
           <div class="app-main__outer">
              <div class="app-main__inner">
                 <!----   Changes for aarti ------>
                 <div class="row">
                    <div id="sortable">
                       <div class="card ui-state-default">
                          <div class="card-header">
                             <div class="float-left col-md-6">Featured</div>
                             <div class="float-right col-md-6 aarti">
                                <ul class="ab">
                                   <li class="list-inline-item">
                                      <a href="#" id="exampleModalLongTitle" data-toggle="modal" data-target=".bd-example-modal-sm"><i class="fa fa-cog" aria-hidden="true"></i></a>
                                   </li>
                                   <li class="list-inline-item">
                                      <a href="#"><i class="fa fa-bell"></i></a>
                                      <span class="fas fa-exclamation bellicon" aria-hidden="true"></span>
                                   </li>
                                   <li class="list-inline-item">
                                      <a href="#" id="exampleModalLongTitle3"data-toggle="exampleModalLongTitle3" data-target=".bd-example-modal-sm"><i class="fa fa-flag" aria-hidden="true"></i></a>
                                   </li>
                                   <li class="list-inline-item">
                                      <a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                   </li>
                                   <li class="list-inline-item">
                                      <i class="fa fa-times" aria-hidden="true"></i>
                                   </li>
                                </ul>
                             </div>
                          </div>
                          <div class="card-body divcenter">
                             <h5 class="card-title"></h5>
                             <p class="card-text">ghdfkjhgkhkflhlxhjflxdj;lgjfkdlglxdhsglxdshgjgfzjxdhsxdhsxdhsxdhsxdhsfg</p>
                             <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Configure Widget modal</button>
                          </div>
                       </div>
                    </div>
                 </div>
                 <!----  end  Changes for aarti ------>
              </div>
              <div class="app-wrapper-footer">
              </div>
           </div>
        </div>
     </div>


     <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLabel">Configure Widget</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                     <form class="">
                        <div class="position-relative form-group"><label for="exampleEmail" class="">Widget Title</label><input name="email" id="exampleEmail" placeholder="with a placeholder" type="email" class="form-control"></div>
                        <div class="position-relative form-group">
                           <label for="exampleSelect" class="">Website</label>
                           <select name="select" id="exampleSelect" class="form-control">
                              <option>abc</option>
                              <option>xyz</option>
                              <option>jgfjs</option>
                              <option>jfdf</option>
                              <option>sdhfka</option>
                           </select>
                        </div>
                        <div class="position-relative form-group">
                           <label for="exampleSelect" class="">Metric</label>
                           <select name="select" id="exampleSelect" class="form-control">
                              <option>sfssf</option>
                              <option>fg</option>
                              <option>dsrgdf</option>
                              <option>gdg</option>
                              <option>fdgd</option>
                           </select>
                        </div>
                        <div class="position-relative form-group">
                           <label for="exampleSelect" class="">Segment</label>
                           <select name="select" id="exampleSelect" class="form-control">
                              <option>sfssf</option>
                              <option>fg</option>
                              <option>dsrgdf</option>
                              <option>gdg</option>
                              <option>fdgd</option>
                           </select>
                        </div>
                        <div class="position-relative form-group"><label for="examplePassword" class="">Filters </label><input name="password" id="examplePassword" placeholder="placeholder" type="password"class="form-control"></div>
                        <button class="mt-1 btn btn-primary">Save Widget</button>
                        <button class="mt-1 btn btn-primary">Cancel</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <!-- Small modal start1 -->
         <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLongTitle">Widget Alert</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                     <p>Alerts allow you to monitor metrics even when you're away from your dashboards. You can set up email or SMS notifications to go out when certain conditions are met (e.g. when your website's traffic level drops).</p>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-primary">Upgrade</button>
                  </div>
               </div>
            </div>
         </div>
         <!-- Small modal end1 -->