

 <div class="row11" id="msform1">
        <div>
            <div stepTitle="OTP"  *ngIf="otp">
                <fieldset>
                <h2 class="fs-title">OTP</h2>
                <h3 class="fs-subtitle">This is step 1</h3>
                <input type="text" name="otp" placeholder="Enter Your OTP" [(ngModel)]="otpValue" />
                <button type="button" class="btn btn-warning" (click)="verifyOTP()" >Verify Otp</button>
                
                </fieldset>
            </div>
        
            <div stepTitle="Password"  *ngIf="password">
                <fieldset>
                <h2 class="fs-title">Set Password</h2>
                <h3 class="fs-subtitle">This is step 2</h3>
                <div class="text text-left"><label  for="">Password</label></div>  
                <input type="text" name="password" placeholder="Password" />
        
                <div class="text text-left"><label  for="">Confirm Password</label></div>  
                <input type="text" name="cpassword" placeholder="Confirm Password" />
                <button type="button" class="btn btn-warning" (click)="verifyPassword()">Save</button>
                </fieldset>
               
            </div>
            <div stepTitle="Authentication"  *ngIf="auth">
                <fieldset>
                <h2 class="fs-title">Setting</h2>
                <h3 class="fs-subtitle">Two Factor Authentication</h3>
                <div class="col-sm-12">
                        <label for="">Do you want to active Two Factor Authentication</label>
                        <div class="col-sm-12">
                        <input type="radio"  name="auth" placeholder="" class="auth-check" />
                        <label for="">Yes</label>
                        <input type="radio" name="auth" placeholder="" class="auth-check" />
                        <label for="">No</label>
                        </div>
                        <hr/>
                        <div class="col-sm-12">
                        <input type="radio" name="auth" placeholder="" class="auth-check" />
                        <label for="">Email</label>
                        <input type="radio" name="auth" placeholder="" class="auth-check" />
                        <label for="">Mobile</label>
                        <input type="radio" name="auth" placeholder="" class="auth-check" />
                        <label for="">Both</label>
                        </div>
                </div>
        
                <button type="button" class="btn btn-warning" (click)="verifySetting()" >Save</button>
                </fieldset>
        
        
                
            </div>
            <div stepTitle="Profile"  *ngIf="profile">
                    <fieldset>
                    <h2 class="fs-title">Setting</h2>
                    <h3 class="fs-subtitle">Two Factor Authentication</h3>
                    <input type="text" name="fname" placeholder="Enter Your Name" />
                    <input type="text" name="mobile" placeholder="Enter Your Mobile"/>
                    <button type="button" class="btn btn-warning" (click)="verifyProfile()" >Save</button>
                    </fieldset>
        
                    
            </div>
            <div stepTitle="Setting"  *ngIf="complete">
                    <fieldset>
                    <h2 class="fs-title">Thanks You registration </h2>
                   <button (click)="finish()">Finish</button>
                    </fieldset>
        
                    
            </div>


            <div>
                   
                </div>
        </div>
        
        </div>
