<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
<div class="app-main">
<div class="container">
<div class="row11">
<wizard>
    <wizard-step stepTitle="OTP" [canExit]='true'>
        <fieldset>
        <h2 class="fs-title">OTP</h2>
        <h3 class="fs-subtitle">This is step 1</h3>
        <input type="text" name="email" placeholder="Enter Your OTP" />
        <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>

    <button type="button" class="btn btn-warning"  nextStep>Next Step</button>
    </wizard-step>

    <wizard-step stepTitle="Password" awOptionalStep>
        <fieldset>
        <h2 class="fs-title">Complete Your Profile</h2>
        <h3 class="fs-subtitle">This is step 3</h3>
        <input type="text" name="fname" placeholder="Enter Your Name" />
        <input type="file" name=""/>
        <input type="button" class="btn btn-warning" name="previous" class="previous action-button" value="Previous" />
        <input type="submit" name="submit" class="submit action-button" value="Submit" />
        </fieldset>
       
        <button type="button" class="btn btn-warning" previousStep>Go to previous step</button>
    <button type="button" class="btn btn-warning" nextStep>Go to next step</button>
    </wizard-step>
    <wizard-step stepTitle="Authentication">
        <fieldset>
        <h2 class="fs-title">Setting</h2>
        <h3 class="fs-subtitle">Two Factor Authentication</h3>
        <input type="text" name="fname" placeholder="Enter Your Name" />
        <input type="file" name=""/>
        <input type="button" class="btn btn-warning" name="previous" class="previous action-button" value="Previous" />
        <input type="submit" name="submit" class="submit action-button" value="Submit" />
        </fieldset>


        <button type="button" class="btn btn-warning" previousStep>Go to previous step</button>
        <button type="button" class="btn btn-warning" nextStep>Go to next step</button>
    </wizard-step>
    <wizard-step stepTitle="Profile">
            <fieldset>
            <h2 class="fs-title">Setting</h2>
            <h3 class="fs-subtitle">Two Factor Authentication</h3>
            <input type="text" name="fname" placeholder="Enter Your Name" />
            <input type="file" name=""/>
            <input type="button" class="btn btn-warning" name="previous" class="previous action-button" value="Previous" />
            <input type="submit" name="submit" class="submit action-button" value="Submit" />
            </fieldset>

            <button type="button" class="btn btn-warning" previousStep>Go to previous step</button>
            <button type="button" class="btn btn-warning" nextStep>Go to next step</button>
    </wizard-step>
    <wizard-step stepTitle="Setting">
            <fieldset>
            <h2 class="fs-title">Setting</h2>
            <h3 class="fs-subtitle">Two Factor Authentication</h3>
            <input type="text" name="fname" placeholder="Enter Your Name" />
            <input type="file" name=""/>
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="submit" name="submit" class="submit action-button" value="Submit" />
            </fieldset>

            <button type="button" previousStep>Previous Step</button>
            <button type="button" (click)="finishFunction()">Finish</button>
    </wizard-step>
</wizard>

</div>
</div>
</div>
</div>