
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <!-- <div class="page-title-icon">
                    <i class="pe-7s-car icon-gradient bg-mean-fruit">
                    </i>
                </div> -->
                <div>{{pageTitle}}
                    <!-- <div class="page-title-subheading">This is an example dashboard created using build-in elements and components.
                    </div> -->
                </div>
            </div>
            <div class="page-title-actions">
                    <a  class="btn btn-info btn-lg" routerLink="#">Add Permission</a>
            </div>
        </div>
    </div>            

    <div class="container">
        <div class="main-card mb-3 card">
                <div class="card-body"><h5 class="card-title">{{pageTitle}}</h5>
                    <table class="mb-0 table">
                        <thead>
                        <tr>
                            <th>SNO</th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor ="let permission of permissions;index as i;">
                                <td>{{i+1}}</td>
                                <td>{{permission.name}}</td>
                                <td>Action</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>
                    